<h1>You are not logged in</h1>

<p style="margin-top: 3%">
    In order to see your current Vacations you have to 
    <a asp-controller="Home" asp-action="Login"><b>Log in</b></a> to your account or 
    <a asp-controller="Home" asp-action="Signup"><b>Sign up</b></a> if you don't have one.
</p>